*{
    font-family: 'Fira Sans', sans-serif !important;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold !important;
}

.main_font {
    font-family: 'Fira Sans', sans-serif  !important;
    font-weight: bold;
}

.imgslider{
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

body{
    overflow-x: hidden;
    min-height: 600px;
    font-family: 'Fira Sans', sans-serif !important;
}

p, label, li, li > a, h6, h5{
    font-size: 14px;
}

td,th {
    font-size: 14px;
}

.section_footer{
    padding-top:70px;
    padding-bottom:50px;
    background:#fafcff;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}

.logo_main{
    height: 68px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar_custom{
    padding-top:5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom:5px;
    background :  #0070ba !important;
}

.infobar {
    display: flex;
    padding-left: 20px;
    position: relative;
    top: 4px;
}

.infobar > span {
    padding-left: 20px;
    position: relative;
    top: 20px;
}

.nav_container{
    background :  #0070ba !important;
}

.navmain > li{
    padding-right:35px;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navmain > li > a{
    color : #ffffff !important;
}

.footer_last{
    background : #fff;
    padding-top:25px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
}

/*
    carousel
*/

.textheading{
    position: relative;
}

.textheading_container{
    position: absolute;
    top: 100px;
}

.carousel-caption{
    color: #fff;
    top: 50%;
    text-align : left;
    left: 21%;
}

.carousel_content{
    background : #000;
    padding: 30px;
    width: 50%;
}

.form-control {
}

.btn{
    border-radius: 4px !important;
}

.search_component{
    padding-left: 10px;
    border : 1px solid #fff;
    padding-right: 10px;
    position: relative;
    left: 10px;
}


.search_component_button{
    border : 1px solid #fff;
    padding-bottom: 6px;
    padding-top: 7px;
    color : #fff;
}

.search_component_button:hover{
    color : #ffffff !important;
    background : #fff !important;
}

.breadcrumbs_custom{
    background: #f8f8f8;
    padding-top: 1px;
    height: 47px;
    padding-bottom: 1px;
    border-bottom: 1px solid #eee;
}

.breadcrumb{
    background : #f8f8f8;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    border-radius: 0px;
    top: 52px;
}

.breadcrumb{
    padding-left: 7px !important;
}

.section_two{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #278c55;
    border-bottom: 1px solid #f1f1f1;
}

.section_three{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
}

.section_four{
    padding-top: 60px;
    padding-bottom: 60px;
    background : #ffffff !important;
}

.section_four_two{
    padding-top: 0px;
    padding-bottom: 40px;
    background : #ffffff !important;
}


.section_two_head{
    color: #ffffff;
    font-weight: bold;
}

.section_three_head{
    font-weight: bold;
}

.blog_head{
    line-height: 1.6;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size:16.5px !important;
    
}

.loaderse {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
    text-align: center;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*
    mobile first view
  */
  #logo_mobile{
      display: none;
  }

  #wafloats{
      display: none;
  }

  .upload_component{
    position: relative;
    left: -57px;
}

.image_hero{
    position:relative;
    top:-50px;
    left:150px;
}

.nav_container_styles{
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-logo{
    position:relative;left:-10px;
}



  @media (min-width: 320px) and (max-width: 480px) {

    .btn_landing{
        width: 100%;
        margin-bottom: 5px;
    }

    #footer_rights{
        display : none !important;
    }

    .nav-logo{
        position:relative;left:0px !important;
    }

    .section_second_wrapper{
        padding:10px 10px 50px 10px !important;
    }

    .section_footer, .footer_last{
        padding : 30px !important; 
    }

    #image_banners{
          width:100% !important;
    }

    .nav_container_styles{
       padding:10px 30px 10px 30px;
    }

    .main_section{
        padding-top: 50px !important;
        padding-bottom: 100px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        height: 800px !important;
    }

    .second_section{
        padding-top: 50px !important;
        padding-bottom: 100px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .card{
        margin-top:5px !important;
        margin-bottom: 5px !important;  
    }

    .image_hero{
       display: none;
    }
    
   
    .upload_component{
        padding-top: 30px !important;
        position: relative;
        left: 0px;
    }

    .image_galeri_container{
        margin-top : 4px;
        margin-bottom: 4px;
    }
    .carousel-caption{
        display: none;
    }

    #tawkchat-minified-box{
        display: none !important;
    }

    #tawkchat-minified-wrapper{
        display: none !important;
    }

    #logo_mobile{
        display: block;
        font-weight: bold;
        color: #ffffff;
    }

    #navcontainer{
        display: none;
    }

    .floatwa{
        display: block;
        top: 10px;
    }

    #wafloats{
        display: block;
        position: absolute;
        top: 80px;
        right: 10px;
        bottom:40px;
    }

    .navbar-light .navbar-toggler-icon{
        /* background-image : url('') !important; */
    }

    .searchings{
        padding-bottom: 19px;
    }

    .navbar-light .navbar-toggler-icon{
        color : #ffffff !important;
    }

    .navbar-light .navbar-toggler{
        border: 1px solid #278c55;
    }

    .search_inputs{
        width: 80.5% !important; 
    }

    .infobar {
        display: none;
    }

    .imgslider{
        height: 100%;
    }

    .carousel-caption{
        top:20%;
    }

    .carousel_content{
        background: none;
        padding:5px;
        font-size: 9px;
        left: 10%;
    }

    .carousel_content > h1{
        padding:5px;
        font-size: 16px;
    }

    .navbar-toggler-icon{
        color : #ffffff;
    }

    .section_footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section_two, .section_three{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section_four_two{
        padding-top: -20px;
        padding-bottom: 10px;
    }

    .section_four{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-toggler{
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .search_component_button{
        width: 100%;
    }

    .search_component{
        left: 0px;
        position: relative;
    }

    .breadcrumbs_custom{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .img_bar{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width:30%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}


#footer_rights > a {
    padding-right: 20px;
    color : #888;
}

#footer_rights2 > a {
    padding-right: 40px;
    color : #888;
}

.share_social > a {
    padding-right: 30px;
}

.section_social_share {
    padding-top:10px;padding-bottom:100px;
}

.date_image{
    position: relative;;
    top : -25px;
    background : #eee;
    padding : 10px;
    width: 280px;
    border-top-right-radius: 10px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 2px solid #000000 !important;
    border-color: #fff;
    background-color: #fff;
}


.listfooters{
    margin-top:20px;
}

.listfooters >  li {
    padding-top: 8px;
    padding-bottom: 8px;
}
#wa_navbar{
    background:#03a84e;
    border-radius:4px;
    color:#fff;
    margin-left:20px;
    padding-right:20px;
    padding-left:20px;
    padding-top:8px;
    padding-bottom:8px;
    cursor:pointer;
    position: relative;
    top: 22px;
}

#wa_navbar:hover{
    opacity: 0.9;
}

.search_btn{
    background: #232f3c;
    border: 2px solid #232f3c;
    color: #fff;
    position: relative;
    right: 9px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    top : 50px !important;
}

/* .upload_component{
    position: relative;
    left: 0px;
} */

.easyimage-full > img{
    width : 100% !important;
}

.card{
    background: #FFFFFF !important;
    border: 1px solid #e8e8e8;
    /* box-sizing: border-box;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px; */
    /* border: 1px solid #E1E7F1 !important; */
    /* box-shadow: 0px 1px 2px rgba(0, 23, 68, 0.09) !important; */
}

.accordion .card .card-header { 
    background : #fff !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

ul > li {
    font-size: 14px;
}

/*
katsinov
*/
.main_section{
    height : 820px;
    min-height: 600px;
    /* background : #563d7c; */
    color : #fff;
    background : url('../img/background_line.svg');
    background-size: cover;
    padding-top:180px;
    padding-bottom: 300px;   
}


.second_section { 
    background:#F2F5F9;
    padding-top:80px;
    padding-bottom:80px;
    padding-left: 20px;
    padding-right: 20px;
    border-top:1px solid #eee;

}

.section_userguide_wrapper{
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section_main_wrapper{
    min-height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section_second_wrapper{
    background : url('../img/background_line.svg');
    padding-top: 120px;
    padding-bottom: 240px;
}

hr.dashed {
    border-top: 2px dashed #999;
}

.captions{
    color : #888 !important;
}

.bolds{
    font-weight: bold !important;
}

/**
loader
*/
.loader {
    margin : auto;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #img_user{
      border-radius: 50% !important;
      height: 75px;
      width: 75px;
      background-size: cover;
      object-fit: cover;
  }

  .pub_item{
      padding-top: 20px;
      padding-bottom: 20px;
      cursor: pointer;
      background : #fafafa;
  }
  
  .pub_item:hover{
      background : #eee;
  }

  .pub_item_journal{
      color : #888;
  }

  .pub_title{
      font-weight: bold;
      font-size:14px;
  }

  small{
      color : #aaa !important;
  }

  .text_white{
      color : #fff;
  }

  .swal2-container {
    z-index: 5000;
  }
  
  table, th, td {
      /*
      do something here
      */
  }
  
  th, td {
    padding: 10px !important;
  }

  .card_metode{
      height : 400px !important;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03);
      border-radius: 2px;
  }

  .add_buttons{
    float:right;
    cursor:pointer;
    border:1px solid #999;
    border-radius:50px;
    padding:1px 10px 1px 10px;
    font-size:14px;     
  }

  .add_buttons:hover { 
      background : #eee;
  }

  .image_lists{
      width:25%;
      background-size: contain;
      border-radius: 8px;;
  }

  .method_details{
      cursor: pointer;
      font-size : 14px;
  }

  .input_warning{
      border : 1px solid red;
  }

  .input_normal {
    border : 1px solid #ccc;
  }

  .btn-success, .btn-warning, .btn-danger, .btn-primary{
    border-radius: 2px !important;
  }

  .form-control-sm, .form-control, .custom-select-sm, .custom-select, .alert{
      border-radius: 1px !important;
  }


  .badge{
      padding: 3px 3px 2px 3px;
  }
  
  /* ion-icon {
    font-size: 24px;
  } */

  .ion-icon-position {
      position: relative;
      top : 2px;
  }

  .closedivs{
    float: right;
    right: 20px;
    position: absolute;
    top: 10px;
  }

  .luaran_paten_wrapper{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .report_list  {
      font-size : 14px;
  }

  .export_pdf {
      background : #f9f9f9;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width:80%;
      margin:0 auto;
      border: 1px solid #f1f1f1;
      border-radius: 2px;
  }
 
.report_container { 
    width:80%;
    margin:0 auto;
}

.cost_report{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@page cost_report {
    size: 8.27in 11.69in; 
    margin: .5in .5in .5in .5in; 
    mso-header-margin: .5in; 
    mso-footer-margin: .5in; 
    mso-paper-source: 0;
}



div.cost_report {
} 


.title-point{
    background : #b8deff;
    font-weight: bold;
    font-size : 16px;
    padding:10px 20px 10px 20px;
    border-radius: 50px;
}

.head_description{
    font-size:28px;
    line-height:45px;
    font-weight:bold;
}

.headlanding{
    margin-bottom : 40px; 
    line-height:55px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .head_description{
        font-size:16px;
        line-height:45px;
        font-weight:bold;
    }

    .nav-logo-desktop {
        display: none;
    }

    .main_section {
        height: 680px !important;
    }
    
    .section_main_wrapper{
        min-height: 200px;
    }

    .section_userguide_wrapper{
        min-height: 200px;
    }

    .main_header_text{
        line-height: 40px;
    }

    .headlanding{
        margin-bottom : 25px !important; 
        line-height: 45px;
    }
}


.nav-logo-desktop {
    display: block;
}


